.container {
  display: flex;
  height: 40rem;
  align-items: center;
  background-color: #eeeeee;
  justify-content: space-around;
  padding: 5rem;
}
.left img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
}
@media screen and (max-width: 1089px) {
  .left img {
    display: none;
  }
  .container {
    justify-content: center;
  }
}
